.listen-node {
	display: inline-block;
	background:rgba(0, 0, 0, 0.05);
	padding: 1px 5px;
	border-radius:4px;
	cursor: pointer;
}

.listen-node i {
	font-size: 0.7em;
	border: 0.5em solid transparent;
	border-left: 0.75em solid;
	display: inline-block;
	margin-left: 5px;
}

.listen-node .playing {
	border: 0;
	border-left: 0.75em double;
	border-right: 0.5em solid transparent;
	height: 1em;
}